@{
    ViewBag.Title = "Home Page";
}

<h2>Benvenuto nella pagina principale</h2>
<p>Inserisci i tuoi dati per ricercare il pacco</p>

@using (Html.BeginForm("Pacco", "Home", FormMethod.Get))
{
    <div class="form-group">
        @Html.Label("Nome Azienda/Privato:")
        @Html.TextBox("nome", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Indirizzo")
        @Html.TextBox("Indirizzo", null, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Cerca</button>
}
